#faq-container {
  .container {
    margin-top: 50px;
  }
  #faq-h1 {
    text-align: center;
    font-family: $headerFont;
    font-size: 42px;
    color: $colorBlack;
    background-color: $colorWhite;
    padding: 30px;

    @extend %selection;
  }

  .accordion-item {
    border: none;
    background-color: $colorYellow;
    font-family: $textFont;
    .accordion-button {
      color: $colorBlack;
      padding: 20px;
    }
    .accordion-body {
      padding: 40px;
      &::selection {
        background-color: $colorGreen;
      }
    }
  }
}
